{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Кредиты{% endblock %}

{% block content %}
<div class="container my-4">
    <h2 class="mb-4">Кредиты</h2>
    <div class="ms-auto">
        <a class="btn btn-sm btn-outline-primary" href="{% url 'bank:new_credit' %}">Новый кредит</a>
      </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Команда</th>
                    <th>Сумма кредита</th>
                    <th>Год кредита</th>
                    <th>Процентная ставка</th>
                    <th>Остаток по кредиту</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for credit in credits %}
                <tr>
                    <td>{{ credit.team.name }}</td>
                    <td>{{ credit.amount|floatformat:0|intcomma }} ₽</td>
                    <td>{{ credit.year }}</td>
                    <td>{{ credit.percent|floatformat:2 }} %</td>
                    <td>{{ credit.remains|floatformat:0|intcomma }} ₽</td>
                    <td>{{ credit.status }}</td>
                    <td>
                        <a href="{% url 'bank:credit_detail' credit.id %}" class="btn btn-sm btn-primary">Подробнее</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}