asgiref==3.8.1
attrs==23.2.0
Django==5.2.1
django-cart==1.0.4
django-constance==4.3.5
django-debug-toolbar==6.3.0
django-simple-history==3.11.0
django-widget-tweaks==1.5.1
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
