{% extends "base.html" %}
{% load static %}

{% block title %}Страничка ведущего{% endblock %}

{% block content %}

<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Страничка ведущего</h2>
    <div>
        <a href="{% url 'main:next_year' %}" class="btn btn-outline-primary d-inline-flex align-items-center">
            Перевести год
        </a>
    </div>
  </div>
  <div class="container my-4">
    <h3>Статистика по командам</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Команда</th>
          <th>Баланс</th>
          <th>Всего куплено км. труб</th>
          <th>ГРС запущено</th>
          <th>Очки экологии</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td>{{ team.name }}</td>
          <td>{{ team.balance.money }}</td>
          <td>{% for i in truba %}{% if i.zakaz.team == team %}{{ i }}{% endif %}{% endfor %}</td>
          <td>{{ team.grs_launched }}</td>
          <td>{{ team.eco_scores.score  }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>


{% endblock %}