{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Страничка ведущего{% endblock %}

{% block content %}

<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Страничка ведущего</h2>
    <div>
        <a href="{% url 'main:next_year' %}" class="btn btn-outline-primary d-inline-flex align-items-center">
            Перевести год
        </a>
    </div>
  </div>
  <div class="container my-4">
    <h3>Статистика по командам</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Команда</th>
          <th>Баланс</th>
          <th>Всего куплено км. труб</th>
          <th>ГРС запущено/Потребители</th>
          <th>Достижения</th>
          <th>Очки экологии</th>
          <th>Победные очки</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td>{{ team.name }}</td>
          <td>{{ team.balance.money|floatformat:0|intcomma }}</td>
          <td>{% for item in teams_items %}{% if item.team == team %}{{ item.items_count }}{% endif %}{% endfor %}</td>
          <td>{% for grs in teams_grs %}{% if grs.team == team %}{{ grs.total_grs }}/
          {% for potrebitel in total_potrebiteli %}
          {% if potrebitel.team == grs.team %}
          {{ potrebitel.total_potrebitel }}
          {% endif %}{% endfor %}
          {% endif %}{% endfor %}</td>
          <td>{% if zakaz_items_premii %}
          <ul>
          {% for item in zakaz_items_premii %}
          {% if item.zakaz.team == team %}
            <li> {{ item.material.name }} - 
            {% for ball in bally %}
            {% if ball.material == item.material %}
            {{ ball.property_value }} 
            {% endif %}
            {% endfor %}
            </li>
            {% endif %}
          {% endfor %}
          </ul>
          {% endif %}</td>
          <td>{{ team.eco_scores.score|floatformat:0  }}</td>
          <td>{% for item in win_score %}{% if item.team == team %}{{ item.score|floatformat:2 }}{% endif %}{% endfor %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="container my-4">
      </div>
    <div class="container my-4">
    <h3>Остатки на складах</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Материал</th>
          <th>Количество</th>
          <th>На складе команды</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stock_by_skalad %}
        <tr>
          <td>{{ stock.material.name }}</td>
          <td>{{ stock.quantity| floatformat:0 }}</td>
          <td>{% if stock.warehouse.name %}{{ stock.warehouse.name }}{% else %}Склад{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>Всего ГРС выдано: {{ stock_by_skalad_grs }}</p>
  </div>

{% endblock %}