{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4">Добро пожаловать в систему управления ресурсами!</h1>
    <p class="lead">Выберите раздел для управления заказами, техническим обеспечением и другими ресурсами.</p>
    <div class="d-flex flex-row mb-3 gap-3 overflow-auto py-2 px-1">
        <a href="{% url 'bank:zakaz_list' %}" style="display: block; text-decoration: none; color: inherit;">
            <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
                Заказы
            </button>
        </a>
        <a href="{% url 'mtr:index' %}" style="display: block; text-decoration: none; color: inherit;">
            <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
                Материально-техническое обеспечение
            </button>
        </a>
        <a href="{% url 'main:control' %}" style="display: block; text-decoration: none; color: inherit;">
            <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
                Статистика и контроль
            </button>
        </a>
    </div>
    <div class="d-flex flex-row mb-3 gap-3 overflow-auto py-2 px-1">
        <a href="{% url 'bank:bank_list' %}" style="display: block; text-decoration: none; color: inherit;">
            <button class="btn btn-outline-primary d-inline-flex align-items-center" type="button">
                Банк
            </button>
        </a>
        <a href="{% url 'contactor:index' %}" style="display: block; text-decoration: none; color: inherit;">
            <button class="btn btn-outline-primary d-inline-flex align-items-center" type="button">
                Подрядная организация
            </button>
        </a>
        <a href="{% url 'learning:index' %}" style="display: block; text-decoration: none; color: inherit;">
            <button class="btn btn-outline-primary d-inline-flex align-items-center" type="button">
                Обучение
            </button>
        </a>
        <a href="{% url 'audit:index' %}" style="display: block; text-decoration: none; color: inherit;">
            <button class="btn btn-outline-primary d-inline-flex align-items-center" type="button">
                Аудит
            </button>
        </a>
    </div>
</div>
{% endblock %}