{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Team Detail{% endblock %}

{% block content %}
{% if messages %}
    <div class="container my-4">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
<div class="container my-4">
  <h2 class="mb-4">{{ team.name }}</h2>
  </div>
</div>
<div class="container my-4">
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Достижения</h5>
      {% if zakazy_premii %}
        <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                <th>ID</th>
                <th>Год</th>
                <th>Награда</th>
                <th>Сумма компенсации</th>
                <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for zakaz in zakazy_premii %}
                <tr>
                <td><strong>{{ zakaz.pk }}</strong></td>
                <td>{{ zakaz.year }}</td>
                
                    {% for item in premii %}
                    {% if item.zakaz.id == zakaz.id %}
                <td>
                        {{ item.material.name }}
                </td>
                <td>{{ item.price|floatformat:0|intcomma }} руб.</td>
                <td>{{ zakaz.status.name }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
      {% else %}
        <p>Здесь пока нет достижений.</p>
      {% endif %}
    </div>
    <div>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-outline-primary ms-2">Добавить достижение</button>
    </form>
    </div>   
    <div class="card-body">
      <h5 class="card-title">Заказы на обучение</h5>
      {% if zakazy %}
        <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                <th>ID</th>
                <th>Год</th>
                <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for zakaz in zakazy %}
                <tr>
                <td><strong>{{ zakaz.pk }}</strong></td>
                <td>{{ zakaz.year }}</td>
                <td>{{ zakaz.status.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
      {% else %}
        <p>Здесь пока нет заказов на обучение.</p>
      {% endif %}
  </div>
</div>
{% endblock %}