{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-4.0.0.min.js' %}"></script>
    
    {% endblock %}
</head>
<body>
    <header>
    <div class="container my-4">
  <!-- Centered Title -->
    <h1 class="text-center">Добро пожаловать в Novator</h1>
    <p class="text-center text-muted">Это система для управления игрой.</p>
</div>
{% if user.is_authenticated %}
  {% block nav %}       
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-toggle">
  <div class="container">
    <a class="navbar-brand" href="{% url 'main:index' %}">Novator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bank:bank_list' %}">Банк</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mtr:index' %}">Снабженец</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactor:index' %}">Подрядчик</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'learning:index' %}">Обучение</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'audit:index' %}">Аудитор</a>
        </li>
      </ul>
      <form method="post" action="{% url 'logout' %}" class="d-flex ms-auto">
        {% csrf_token %}
        <p>{{ user.username }}</p>
        <button type="submit" class="btn btn-outline-danger btn-sm">Выйти</button>
      </form>
    </div>
  </div>
</nav>
  {% endblock %}
{% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block footer %}
    <footer class="bg-light py-4 mt-5">
  <div class="container text-center">
    <small class="text-muted">&copy; {{ year|default:2026 }} Novator. All rights reserved.</small>
  </div>
</footer>
    {% endblock %}
</body>
</html>